@import '../vars';
@import '../templates';
.header {
  background-color: $colorHeaderFooter;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  .header__job {
    font-weight: bold;
  }
}
.header__menu {
  display: flex;
  .header__nav {
    width: 100%;
    display: flex;
    .header__item {
      text-decoration: none;
      color: $colorWhite;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
.about {
  color: $colorWhite;
  background-color: $colorAbout;
  .about-img {
    background-image: url('/assets/images/img_about.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2.5px solid $colorFrame;
  }
  .about__text {
    text-align: center;
    color: $colorHeaderName;
    opacity: 0.7;
  }
  .story {
    @include text;
    color: $colorWhite;
  }
  .story_mb {
    margin-bottom: 2vw;
  }
  .story_color {
    color: $colorHeaderName;
  }
}
.services {
  background-color: $colorWhite;
  .service {
    display: grid;
    gap: 3vw;
    .service__img {
      height: 100%;
    }
    .service__desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .service__list {
        display: flex;
        flex-direction: column;
        list-style-position: inside;
      }
      .service__list-item {
        display: flex;
      }
      .service__button:hover {
        cursor: pointer;
      }
      .service__cost {
        font-weight: 700;
      }
    }
  }
}
.offer {
  background-color: $colorOffer;
  .offer__description {
    background-color: $colorWhite;
    .offer__description-title {
      text-align: center;
    }
    .offer__description-body {
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
      padding: 2vw 2vw 0;
    }
    .offer__list {
      display: flex;
    }
    .offer__cost {
      font-weight: 700;
    }
  }
}
.free-advice {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
  background-color: $colorFreeAdvice;
  .free-advice__wrap {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    .signup {
      display: flex;
      color: $colorWhite;
      background-color: $colorSignUp;
      .signup__text {
        display: flex;
        align-items: center;
      }
      .signup__link {
        display: flex;
        align-items: center;
      }
      .signup__link:hover {
        filter: brightness(0.8);
      }
      .signup__link-telegram {
        text-decoration: none;
        color: $colorWhite;
      }
    }
  }
  .free-advice__img {
    max-width: 100%;
    height: 100%;
  }
}
.certificates {
  background-color: $colorWhite;
  .certificates__wrap {
    display: grid;
    column-gap: 5vw;
  }
}
.footer {
  background-color: $colorHeaderFooter;
  padding: 1.1vw 0;
  .footer__main {
    background-color: $colorHeaderFooter;
    display: flex;
    .footer__left {
      display: flex;
    }
    .footer__right {
      display: flex;
      .footer__media:hover {
        filter: brightness(0.8);
      }
    }
    .footer__name {
      font-weight: 600;
    }
  }
  .footer__bottom {
    display: flex;
    justify-content: center;
    .footer__school:hover {
      filter: brightness(0.8);
    }
    .footer__school {
      text-decoration: none;
      color: $colorWhite;
      text-transform: uppercase;
    }
  }
}
@media (min-width: 1024px) {
  .main__block {
    padding: 2vw 3vw;
  }
  .subtitle {
    @include h2;
  }
  #about,
  #services,
  #offer,
  #free-advice {
    scroll-margin-top: 6.6vw;
  }
  .header {
    height: 6.6vw;
    padding: 1.1vw 3vw;
    .header__left {
      flex-basis: 40%;
      .header__name {
        font-size: 2.2vw;
        color: $colorHeaderName;
      }
      .header__job {
        font-size: 1.2vw;
        line-height: 1.8vw;
      }
    }
    .header__menu {
      flex-basis: 60%;
      align-items: center;
      .header__nav {
        justify-content: space-between;
        .header__item {
          font-size: 1.2vw;
        }
      }
    }
    .header__burger {
      display: none;
    }
  }
  .about {
    display: flex;
    justify-content: center;
    padding: 5vw 3vw;
    gap: 10vw;
    .subtitle {
      margin-bottom: 2vw;
    }
    .about-img {
      width: 20vw;
      height: 20vw;
      background-size: auto 30vw;
    }
    .about__text {
      width: 44vw;
    }
    .story {
      @include text;
    }
  }
  .services {
    .service {
      grid-template-columns: 0.3fr 1fr;
      padding: 2vw 0;
      .service__img {
        width: 100%;
        border: 5px solid $colorFrame;
      }
      .service__name {
        @include h3;
      }
      .service__text,
      .service__cost,
      .service__list {
        @include text;
      }
      .service__list,
      .service__list-item {
        gap: 1vw;
      }
      .service__mark {
        width: 1.8vw;
        height: 1.8vw;
      }
      .service__button {
        @include button-cost(10px, 0.5vw);
      }
    }
    .service_top {
      grid-template-rows: 12vw;
      padding-top: 3vw;
    }
    .service_reverse {
      grid-template-rows: 12vw;
      grid-template-columns: 1fr 0.3fr;
    }
    .service_express {
      grid-template-rows: 20vw;
    }
  }
  .offer__description {
    margin-top: 2vw;
    padding: 3vw;
    .offer__description-title {
      @include h3;
    }
    .offer__description-body {
      @include text;
    }
    .offer__list {
      height: 4vw;
      .offer-tick {
        width: 2vw;
        height: 2vw;
      }
      .tick-img {
        width: 1.8vw;
        height: 1.8vw;
      }
      .offer-text {
        padding-left: 1vw;
      }
    }
    .offer__button {
      @include button-cost(10px, 0.5vw);
    }
    .offer__button:hover {
      cursor: pointer;
    }
  }
  .free-advice {
    flex-direction: columm;
    justify-content: space-between;
    .free-advice__picture {
      width: 41%;
    }
    .free-advice__wrap {
      justify-content: space-between;
      .free-advice__text {
        @include text;
      }
    }
    .signup {
      padding: 2vw;
      gap: 3vw;
      .signup__text {
        @include h2;
      }
      .signup__link {
        gap: 1vw;
      }
      .signup__link-img {
        width: 2vw;
        height: 2vw;
      }
      .signup__link-telegram {
        @include h3;
        text-decoration: none;
        color: $colorWhite;
      }
    }
  }
  .certificates__wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20vw;
    place-items: center;
    padding: 2vw 5vw;
    .certificates__img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .footer__main {
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    gap: 4vw;
    .footer__right {
      gap: 3vw;
      .footer__media {
        width: 2vw;
        height: 2vw;
      }
    }
    .footer__name {
      font-size: 1.3vw;
    }
  }
  .footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7vw;
    .footer__development {
      font-size: 1.1vw;
    }
    .footer__school {
      font-size: 1.1vw;
    }
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main__block {
    padding: 2vw 5vw;
  }
  .subtitle {
    @include h2-tablet;
  }
  #services,
  #offer,
  #about,
  #free-advice {
    scroll-margin-top: 8.2vw;
  }
  .header {
    height: 8.6vw;
    padding: 1vw 5vw;
    .header__left {
      display: flex;
      align-items: center;
      flex-basis: 100%;
      gap: 7vw;
      .header__name {
        font-size: 3.5vw;
        color: $colorHeaderName;
      }
      .header__job {
        font-size: 2.3vw;
        padding-top: 0.5vw;
        font-weight: bolder;
      }
    }
    .header__menu {
      position: fixed;
      top: 8.6vw;
      right: -50%;
      height: 20vw;
      width: 23vw;
      background-color: rgba(200, 177, 164, 0.845);
      z-index: 50;
      transition: all 1s;
      .header__nav {
        padding-top: 1vw;
        flex-direction: column;
        align-items: end;
        gap: 1vw;
        padding-right: 1.5vw;
        .header__item {
          font-size: 2.2vw;
        }
      }
    }
    .header__menu.active {
      right: 4.5vw;
    }
    .header__burger {
      display: block;
      position: relative;
      width: 3.5vw;
      height: 3vw;
    }
    .header__burger::before,
    .header__burger::after {
      content: '';
      background-color: $colorWhite;
      position: absolute;
      width: 100%;
      height: 0.3vw;
    }
    .header__burger::before {
      top: 2.5vw;
    }
    .header__burger::after {
      top: 5.1vw;
    }
    .header__burger span {
      background-color: $colorWhite;
      position: absolute;
      width: 100%;
      height: 0.3vw;
      top: 3.8vw;
      transition: all 0.1s;
    }
    .header__burger.active::before {
      transform: rotate(45deg);
      top: 3.2vw;
    }
    .header__burger.active::after {
      transform: rotate(-45deg);
      top: 3.2vw;
    }
    .header__burger.active span {
      transform: scale(0);
    }
  }
  .about {
    display: flex;
    justify-content: center;
    padding: 5vw 7vw;
    gap: 5vw;
    .subtitle {
      margin-bottom: 2vw;
    }
    .about-img {
      width: 32vw;
      height: 32vw;
      background-size: auto 40vw;
    }
    .about__text {
      width: 60vw;
      @include h2-tablet;
    }
    .story {
      @include text-tablet;
    }
  }
  .services {
    .service {
      grid-template-columns: 0.4fr 1fr;
      padding: 2vw 0;
      .service__img {
        max-width: 100%;
        border: 5px solid $colorFrame;
      }
      .service__name {
        @include h3-tablet;
      }
      .service__text,
      .service__cost,
      .service__list {
        @include text-tablet;
      }
      .service__list,
      .service__list-item {
        gap: 1vw;
      }
      .service__mark {
        width: 1.8vw;
        height: 1.8vw;
      }
      .service__button {
        @include button-cost(7px, 0.7vw);
      }
      .service__button:active {
        font-weight: 700;
      }
    }
    .service_top {
      grid-template-rows: 19vw;
      padding-top: 3vw;
    }
    .service_reverse {
      grid-template-columns: 1fr 0.5fr;
      grid-template-rows: 19vw;
    }
    .service_express {
      grid-template-rows: 31vw;
    }
  }
  .offer {
    .subtitle {
      margin-bottom: 3vw;
    }
    .offer__description {
      padding: 3vw;
      .offer__description-title {
        @include h3-tablet;
      }
      .offer__description-body {
        @include text-tablet;
      }
      .offer__list {
        height: 5vw;
        gap: 0.5vw;
        .offer-tick {
          width: 2vw;
          height: 2vw;
        }
        .tick-img {
          width: 1.8vw;
          height: 1.8vw;
        }
        .offer-text {
          padding-left: 0.5vw;
        }
      }
      .offer__button {
        padding: 0.5vw;
        @include button-cost(7px, 0.7vw);
      }
      .offer__button:hover {
        cursor: pointer;
      }
      .offer__button:active {
        font-weight: 700;
      }
    }
  }
  .free-advice__picture {
    width: 100%;
  }
  .free-advice__wrap {
    justify-content: space-between;
    .free-advice__text {
      @include text-tablet;
    }
  }
  .signup {
    padding: 1.5vw;
    gap: 3vw;
    .signup__text {
      @include h2-tablet;
    }
    .signup__link {
      gap: 1vw;
    }
    .signup__link:active {
      filter: brightness(0.8);
    }
    .signup__link-img {
      width: 4vw;
      height: 4vw;
    }
    .signup__link-telegram {
      @include h3-tablet;
    }
  }
  .certificates__wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25vw;
    place-items: center;
    padding: 3vw;
    .certificates__img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .footer__main {
    margin-bottom: 1vw;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    .footer__right {
      gap: 4vw;
      .footer__media {
        width: 3.5vw;
        height: 3.5vw;
      }
      .footer__media:active {
        filter: brightness(0.8);
      }
    }
    .footer__name {
      font-size: 2.6vw;
    }
  }
  .footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    .footer__development {
      font-size: 2.2vw;
    }
    .footer__school {
      font-size: 2.2vw;
    }
    .footer__school:active {
      filter: brightness(0.8);
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__block {
    padding: 3vw 4vw;
  }
  .subtitle {
    @include h2-mobile;
  }
  #about,
  #services,
  #offer,
  #free-advice,
  #certificates {
    scroll-margin-top: 14.8vw;
  }
  body.lock {
    overflow: hidden;
  }
  .header {
    padding: 2vw 4vw;
    .header__left {
      display: flex;
      flex-direction: column;
      flex-basis: 80%;
      .header__name {
        font-size: 6.3vw;
        color: $colorHeaderName;
      }
      .header__job {
        font-size: 3.9vw;
        font-weight: bolder;
      }
    }
    .header__menu {
      position: fixed;
      top: -100%;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(200, 177, 164, 0.899);
      z-index: -1;
      transition: all 1s;
      .header__nav {
        width: 100%;
        margin-top: 25%;
        flex-direction: column;
        align-items: center;
        gap: 2%;
        .header__item {
          font-size: 4vw;
          text-transform: uppercase;
        }
      }
    }
    .header__menu.active {
      top: 0;
    }
    .header__burger {
      display: block;
      position: relative;
      width: 7vw;
      height: 8vw;
    }
    .header__burger::before,
    .header__burger::after {
      content: '';
      background-color: $colorWhite;
      position: absolute;
      width: 100%;
      height: 0.5vw;
    }
    .header__burger::before {
      top: 3vw;
    }
    .header__burger::after {
      top: 8.6vw;
    }
    .header__burger span {
      background-color: $colorWhite;
      position: absolute;
      width: 100%;
      height: 0.5vw;
      top: 6vw;
      transition: all 0.1s;
    }
    .header__burger.active::before {
      transform: rotate(45deg);
      top: 5.2vw;
    }
    .header__burger.active::after {
      transform: rotate(-45deg);
      top: 5.2vw;
    }
    .header__burger.active span {
      transform: scale(0);
    }
  }
  .about {
    .subtitle {
      margin-bottom: 3vw;
    }
    .about-img {
      width: 60vw;
      height: 60vw;
      background-size: auto 90vw;
      margin: 4vw auto;
    }
    .about__text {
      @include h2-mobile;
      margin-bottom: 3vw;
    }
    .story {
      @include text-mobile;
    }
  }
  .services {
    display: flex;
    flex-direction: column;
    gap: 6vw;
    .service {
      grid-template-columns: 1fr;
      grid-template-rows: 0.6fr 1fr;
      .service__picture {
        display: flex;
        justify-content: center;
        .service__img {
          max-width: 55%;
          border: 4px solid $colorFrame;
        }
      }
      .service__desc {
        align-items: center;
        gap: 2vw;
        .service__name {
          @include h3-mobile;
        }
        .service__text,
        .service__cost,
        .service__list {
          @include text-mobile;
        }
        .service__list,
        .service__list-item {
          gap: 3vw;
        }
        .service__mark {
          width: 3.8vw;
          height: 3.8vw;
        }
        .service__cost {
          font-weight: 700;
        }
        .service__button {
          @include button-cost(7px, 1vw);
        }
        .service__button:active {
          font-weight: 700;
        }
      }
    }
    .service_reverse {
      grid-template-rows: 1fr 1fr;
      .service__desc_order {
        order: 2;
      }
      .service__picture_order {
        order: 1;
      }
    }
  }
  .offer {
    .subtitle {
      margin-bottom: 3vw;
    }
    .offer__description {
      padding: 3vw;
      .offer__description-title {
        @include h3-mobile;
      }
      .offer__description-body {
        @include text-mobile;
        gap: 4vw;
      }
      .offer__list {
        gap: 2vw;
        .offer-tick {
          width: 4vw;
          height: 4vw;
        }
        .tick-img {
          width: 3.8vw;
          height: 3.8vw;
        }
      }
      .offer__button {
        @include button-cost(7px, 1vw);
      }
      .offer__button:active {
        font-weight: 700;
      }
      .offer__cost {
        text-align: center;
      }
    }
  }
  .free-advice {
    flex-direction: column;
    align-items: center;
    .free-advice__picture {
      width: 70%;
    }
    .free-advice__text {
      @include text-mobile;
    }
    .signup {
      flex-direction: column;
      padding: 2vw;
      gap: 1vw;
      .signup__text {
        @include h2-mobile;
        justify-content: center;
      }
      .signup__link {
        justify-content: center;
        gap: 3vw;
      }
      .signup__link:active {
        filter: brightness(0.8);
      }
      .signup__link-img {
        width: 5vw;
        height: 5vw;
      }
      .signup__link-telegram {
        @include h3-mobile;
      }
    }
  }
  .certificates__wrap {
    grid-template-columns: minmax(300px, 0.6fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    padding: 3vw;
    .certificates__img {
      max-width: 100%;
    }
  }
  .footer {
    padding: 2vw;
  }
  .footer__main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-bottom: 4vw;
    .footer__right {
      gap: 7vw;
      .footer__media {
        width: 5vw;
        height: 5vw;
      }
      .footer__media:active {
        filter: brightness(0.8);
      }
    }
    .footer__name {
      font-size: 3.4vw;
    }
  }
  .footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    .footer__development {
      font-size: 2.9vw;
    }
    .footer__school {
      font-size: 2.9vw;
    }
    .footer__school:active {
      filter: brightness(0.8);
    }
  }
}
